/* 
author: Jemuel Lateo, Ashwin Sivabalan, Omar Alshantout, Shourya Jeswani
date: 2025-04-24
CSS for create account page
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e7eaf3;
}


#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.352);
}

#header {
    color: rgb(56, 81, 163);
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#headerImg{
    width: 100px;
}

#title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#names{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#birthDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#passwordDiv{
    display: flex;
    width: 100%;
    align-items: center;
}

#togglePassword{
    cursor: pointer;
}

#toggleCheck{
    cursor: pointer;
}

form p {
    padding-bottom: 10px;
    color: rgba(0,0,0,0.5);
}

#birthLabel{
    color: rgba(0,0,0,0.5);
}

#passwordError{
    color: rgba(255, 0, 0, 0.5);
    font-size: 13px;
}

#checkError{
    color: rgba(255, 0, 0, 0.5);
    font-size: 13px;
}

#emailError{
    color: rgba(255, 0, 0, 0.5);
    font-size: 13px;
}

#birthdayError{
    color: rgba(255, 0, 0, 0.5);
    font-size: 13px;
}

form input {
    border-radius: 6px;
    font-size: 15px;
    padding: 14px 16px;
    width: 100%;
    margin: 5px;
    border-color: rgba(233, 230, 230, 0.199);
}


#haveAccount {
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
}


#newAccountBtn {
    cursor: pointer;
    background-color: #42b72a;
    color: white;
    border-color: rgba(233, 230, 230, 0.199);
    border-width: 1px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    margin: 5px;
}

#newAccountBtn:hover {
    background-color: #3ba526;
}

#logBtn{
    cursor: pointer;
    background-color: #42b72a;
    color: white;
    border-color: rgba(233, 230, 230, 0.199);
    border-width: 1px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    margin: 5px;
    text-decoration: none;
}

#message{
    margin-bottom: 15px;
}

#logBtn:hover {
    background-color: #3ba526;
}


#footer {
    padding-top: 100px;
}