.grid {
  background-color: black;
  display: grid;
  grid-template-rows: 120px 120px 120px;
  grid-template-columns: 120px 120px 120px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width:100%;
  max-width: 370px;
  position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
}

.onePic,
.twoPic,
.threePic,
.fourPic,
.fivePic,
.sixPic,
.sevenPic,
.eightPic,
.ninePic {
  width: 100%;
  cursor: pointer;
}

.one{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;

}

.two{
  grid-row: 1;
  grid-column: 2;
}

.three{
  grid-row: 1;
  grid-column: 3;
}

.four{
  grid-row: 2;
  grid-column: 1;
}

@media screen and (max-width: 371px) {
.grid{
  width: 308px;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}
}

@media screen and (max-width: 311px) {
  .grid{
    width: 280px;
    grid-template-rows: 90px 90px 90px;
    grid-template-columns: 90px 90px 90px;
  }
  }

  @media screen and (max-width: 281px) {
    .grid{
      width: 265px;
      grid-template-rows: 85px 85px 85px;
      grid-template-columns: 85px 85px 85px;
    }
    }
 